:root {
  --space-mono: 'Space Mono', sans-serif;
  --work-sans: 'Work Sans', sans-serif;
  --rubik: 'Rubik', sans-serif;
  
  --display: 'Sora', sans-serif;
  --body: 'Sora', sans-serif;

  /* --display: 'Space Mono', sans-serif;
  --body: 'Work Sans', sans-serif; */
  --font-weight: normal;
  
  /* --black: #1a0008;
  --white: #fefefe;
  --gray: #e0e0e0;
  --accent: #870028;
  --accent2: #40a3c8;
  --accent3: #FF4907;
  --background: #fff9e6; */

  --black: #070200;
  --white: #fefefe;
  --gray: #e0e0e0;
  --accent: #870028;
  --accent2: #40a3c8;
  /* --accent3: rgb(209, 0, 87); */
  --accent2: #F8E0D6;
  --accent3: #FE641C;
  /* --background: #fff9e6;
  --background: #f7f7ed; */
  --background: #fcfbf9;
  --brzoskwinia: #FCC491;

  /* CSS HEX */
--old-rose: #B8787Bff;
--apricot: #FED0B6ff;
--champagne: #EEDFC9ff;
--copper-penny: #A97671ff;
--deep-taupe: #ff0766;
  
  --line-height: 1.33;
  
  --h1: 1.2rem;
  --h1: 1.5rem;
  --lh1: calc( var(--h1) * var(--line-height));
  --lh1: calc( 1.2rem * 140%);
  
  --h2: 1.6rem;
  --lh2: calc( var(--h2) * var(--line-height));
  
  --h3: 1.25rem;
  --lh3: calc( var(--h3) * var(--line-height));
  
  --p1: 1.0rem;
  --lh-p1: calc( var(--p1) * var(--line-height));

  --caption: 0.85rem;
  --lh-c: calc( var(--caption) * var(--line-height));

  --nav: 1.0rem;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100...800');

Html {
  font-size: 16px;
} 

body {
  margin: 0;
  font-family: var(--body);
  background-color: var(--background);
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--display);
  font-weight: normal;
  font-weight: 550;
}

h2 {
  font-size: var(--h2);
  line-height: var(--lh2);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--black);
  font-size: var(--h3);
  line-height: var(--lh3);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  color: var(--black);
  font-size: var(--p1);
  line-height: var(--lh-p1);
  font-weight: 300;
  /* font-variation-settings: 'wght' 300; */
}

p.caption {
  font-size: var(--caption);
  font-weight: 300;
  line-height: 1.12rem;
}

.decorated::after {
  content: url('../img/line.svg');
  position: absolute;
}

a {
  color: var(--accent3);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  /*funkcja przejścia dla koloru tekstu i koloru tła linków*/
  transition: color 0.7s ease-in-out, background-color 0.7s ease-in-out;
  /* transition: text-decoration 0.7s ease-in-out; */
}

a:hover {
  background: var(--accent3);
  color: var(--white);
  text-decoration: none;
}

/* .link-highlight {
  font-family: var(--space-mono);
  font-style: bold;
} */

/* nav {
  position: fixed;
  z-index: 1;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 12px;
  color: var(--black);
  margin: 25px 12.5px 25px 12.5px;
  display: inline-block;
}

nav li a {
  color: var(--black);
} */

/* header h1 {
  font-size: var(--h1);
  color: var(--white);
  letter-spacing: 1px;
}

header .tagline {
  color: var(--white);
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

header {
  max-width: 100vw;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
} */

header span {
  color: var(--white);
  position: absolute;
  bottom: 40px;
  font-size: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 15px;
  bottom: 15px;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--background);
  padding: 0rem 1.1rem 0 1.1rem;
}

.span-gradient {
  font-size: calc(var(--h1) * 3);
  /* background-image: linear-gradient(60deg, var(--accent), var(--accent2)); */
  background-image: linear-gradient(60deg, var(--black), var(--accent3));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* color: var(--background); */
  animation: blinking 1.5s infinite;
  animation-direction: alternate; 
}

.span-solid {
  /* color: var(--background); */
  background: var(--accent2);
  font-weight: 400;
}

.span-large {
  font-size: var(--h2);
  line-height: var(--lh2);
  font-weight: 350;
}

.span-bolder {
  font-weight: 500;
}

/* navbar ///////////////////////////////////////////*/
.top-header {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: var(--white);
}

.header {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-inline-start: unset;
  padding-inline-start: 1rem;
}

.nav-item a {
  font-size: var(--nav);
  font-family: var(--display);
  text-decoration: underline;
  color: var(--black);
  transition: .3s;
  will-change: transform text-decoration;
  display: block;
  color: var(--accent3);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: color 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

.nav-item a:hover {
  color: var(--white);
  background: var(--accent3);
  text-decoration: none;
}

/* stupid active state solution 
.home .home-link {
  color: var(--accent);
}
.about .about-link {
  color: var(--accent);
} */

.logo {
  font-size: var(--nav);
  font-family: var(--display);
  text-decoration: none;
  color: var(--black);
  transition: .3s;
  will-change: transform text-decoration;
  display: block;
  font-weight: normal;
}

/* .header-3 {
  font-family: var(--display);
  font-size: var(--h3);
  line-height: var(--line-height);
  font-style: normal;
  font-weight: normal;
  margin: 2rem 0 1rem 0;
} */

/* hero section ///////////////////////////////////////////*/
.hero {
  font-size: var(--h1);
  line-height: var(--lh1);
  font-weight: 500;
  /* height: 30vh;
  margin: 10rem 0 10rem 0; */
  height: 50vh;
  margin: 8rem 0 0 0;
}

/* .hero-p {
  font-size: var(--h1);
  line-height: var(--lh1);
} */

/* header h1 {
  font-size: var(--h1);
  color: var(--white);
  letter-spacing: 1px;
}

header .tagline {
  color: var(--white);
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

header {
  height: 80vh;
  max-width: 100vw;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}

header span {
  color: var(--white);
  position: absolute;
  bottom: 40px;
  font-size: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 15px;
  bottom: 15px;
} */

.socialmedia {
  position: fixed;
  left: 0;
  top: 30vh;
  width: 40px;
}

.descritpion {
  color: var(--black);
  font-size: var(--p1);
  line-height: var(--lh-p1);
}

img {
  max-width: 100%;
}

img.cropped {
  width: 100%; /* width of container */
  width: 22rem;
  height: 22rem; /* height of container */
  object-fit: cover;
  object-position: 0% 14%; /* try 20px 10px */
}

/* icons //////////////////////////////*/
.icon-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

img.icon-box {
  width: 3rem
}

.value-columns {
  max-width: 31%;
}

/* card //////////////////////////////*/
/* .card {
  margin-bottom: 2rem;
  width: 100%;
}

  .card-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card-image {
    width: 16rem;
    height: 9rem;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
    
    a.card-image:hover {
      transform: scale(1.1);
      max-height: 100%;
    }

  .card-content {
    width: 100%;
    padding: 50px;
    margin-left: -10%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  }

    .card-tag {
      font-size: var(--p1);
      line-height: var(--lh-p1);
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .card-tags {
      display: flex;
      list-style: none;
      gap: 1rem;
      padding-inline-start: unset;
      margin: unset;
    }

    .card-title {
      margin-bottom: 20px;
      font-size: var(--h2);
      line-height: var(--lh2);
      margin-top: unset;
    }
      
      a.card-title {
        color: var(--accent2);
        ::hover {
          color: var(--black);
        }
      }

    .card-excerpt {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .card-meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: var(--black);
    }

    .card-footer {
      display: flex;
      align-items: center;
    } */

.card {
  margin-bottom: 3rem;
  width: 100%;
}

  .card-wrapper {
    display: flex;
    /* align-items: center; */
    overflow: hidden;
  }

  /* .card-image-box {
    width: 54rem;
    height: 18rem;
    overflow: hidden;
  } */

  .card-image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .card-image {
    /* width: 32rem; */
    height: 18rem;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
    
    a.card-image:hover {
      transform: scale(1.1);
      max-height: 100%;
      max-width: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  .card-content {
    width: 100%;
    margin-left: 50px;
    /* padding: 50px;
    margin-left: -10%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15); */
  }

    /* .card-tag {
      font-size: var(--p1);
      line-height: var(--lh-p1);
      letter-spacing: 0.5px;
      text-transform: uppercase;
    } */

    .card-tags {
      font-size: var(--caption);
      display: flex;
      list-style: none;
      gap: 1rem;
      padding-inline-start: unset;
      margin: unset;
      width: auto;
    }

    .card-title {
      /* margin-bottom: 20px; */
      font-size: var(--h2);
      line-height: var(--lh2);
      margin-top: unset;
    }
      
      a.card-title {
        color: var(--accent2);
        ::hover {
          color: var(--black);
        }
      }

    .card-excerpt {
      margin-bottom: 20px;
      font-size: 16px;
      font-size: var(--p1);
      line-height: 26px;
    }

    .card-meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: var(--black);
    }

    .card-footer {
      display: flex;
      align-items: center;
    }

      @media only screen and (max-width: 986px) {
        .card-wrapper {
          flex-direction: column;
        }
    
        .card-image {
          width: 100%;
        }
    
        .card-content {
          margin-left: 0px;
          margin-top: 1rem;
          /* width: 90%;
          padding: 20px;
          margin: -10% 0 0 0; */
        }
    
      }
    
      @media only screen and (max-width: 760px) {
        .card-content {
    
          .card-title {
            font-size: 27px;
          }
        }
      }

      @media only screen and (min-width: 986px) {
        .hero {
          width: 130vh;
        }
      }


.author {
  position: relative;
}

/* .author::before {
  content: url(../img/cross.svg);
  position: absolute;
  width: 190px;
  top: -40px;
  z-index: -1;
  left: -100px;
  /*przypisanie animacji blinking, czas trwania 1.5s, powtarzana w nieskończoność – infinite
  animation: blinking 1.5s infinite;
  /*nadanie wahadłowego kierunku animacji
  animation-direction: alternate;
} */

ul {
  padding: 0;
}

span.highlighted {
  background: var(--accent3);
  color: var(--white);
  padding: 0 5px;
}

ul.list li {
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  font-family: var(--display);
  font-weight: 350;
}

ul.list {
  margin-bottom: 2.5rem;
}

/*usunięcie podkreślenia dla linków, które są w nagłówku i w nawigacji,
zwróć uwagę, że są tu dwa selektory: h2 a oraz li a, które są oddzielone
przecinkiem – taki zapis powoduje, że te same właściwości – w tym wypadku
text-decoration:none przypisane są do dwóch różnych bytów*/

h2 a, nav li a, h3 a {
  text-decoration: underline;
  color: var(--accent3);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: color 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

.contact {
  text-align: center;
  /* margin: 50px 0 100px 0; */
  width: 100%;
  background-color: var(--black);
  color: var(--background);
  padding-top: 1rem;
}

.contact-heading {
  font-size: calc(var(--h1) * 2);
  line-height: var(--lh1);
  position: relative;
  color: var(--background);
}

/* h2.contact-heading::before {
  content: url("../img/line.svg");
  position: absolute;
  width: 900px;
  z-index: -1;
  left: 100px;
  bottom: -50px;
  /*przypisanie animacji growing, czas trwania 1s, powtarzana w nieskończoność – infinite*/
  /*animation: growing 1s infinite;
  animation-direction: alternate;
} */

.contact-p {
  color: var(--background);
}

footer {
  background: var(--white);
  /* padding: 25px 0; */
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 50px;
}

/* animacja */
@keyframes blinking {
  100% {
    opacity: 30%;
  }
}

@keyframes growing {
  100% {
    /*zwiększenie skali obiektu o 5% – 1 to 100%, a 1.05 to 105%*/
    transform: scale(1.05);
  }
}

/* .ion-logo-instagram:before {
  content: "\f23e";
}

.ion-logo-linkedin:before {
  content: "\f240";
} */

/* project page ///////////////////////////////////////////*/
.project-title {
  margin-top: 10vw;
}

.project-description {
  margin-top: 2rem;
}

h1.project {
  font-size: var(--h1);
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.4rem;
}

/* h2.project {
  font-size: var(--h2);
  line-height: var(--lh2);
  font-weight: 400;
  margin-top: 17px;
  margin-bottom: 25px;
} */

.before-after-img {
  display: flex; 
  gap: 4%; 
  flex-direction: row; 
  flex-wrap: wrap;
}

.before-after-img-01 {
  max-width: auto;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  .before-after-img {
    display: unset !important;
    gap: unset !important;
    flex-direction: unset !important;
    flex-wrap: unset !important;
  }

  .before-after-img-01 {
    max-width: unset !important;
    margin-top: unset !important;
  }
}

/* p.project {
  font-size: var(--p1);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
} */

/* .case-text {
  width: 100%;
  margin-top: 10vw;
  margin-bottom: 10vw;
  padding-left: 80px;
  grid-column-gap: 0vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
} */
