  <!-- Section Contact -->
  <footer class="contact">
    <section class="row contact" id="contact">
      <div class="col-md-12">
        <h2 class="contact-heading">Let's stay in&nbsp;touch</h2>
        <p class="contact-p">Write me on aneta.nejman+ux@gmail.com<br>or catch me on <a href="https://www.linkedin.com/in/aneta-nejman">Linkedin</a></p>
        <div>
          <p class="caption" style="color: var(--background);">© 2022 Aneta Nejman</p>
        </div>
      </div>
    </section>
  </footer>
  <!-- // Section Contact -->

      <!-- <div>
        <ul>
          <li><a href="https://www.linkedin.com/in/aneta-nejman">linkedin<i class="ion ion-logo-linkedin"></i></a></li>
        </ul>
      </div> -->
